.ui.vertical.menu.sidebar-menu {
    margin-top: 40px !important;
    max-height: calc(100% - 40px) !important;
    height:calc(100% - 40px) !important;
}

.main-content {
    margin-top: 40px;
}

.content_header {
    padding: 20px;
}

@media (min-width: 768px) {
    .ui.vertical.menu.sidebar-menu {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }

    .main-content {
        margin-left: 15rem;
    }

    .sidebar-menu-toggler {
        display:none !important;
    }
}
